<!DOCTYPE html>
<html>
<head>

    <meta charset="UTF-8"/>
    <title>Poller Test Page</title>
    <link type="text/css" rel="stylesheet" href="css/style.css"/>
    <script type="text/javascript" src="http://code.angularjs.org/1.1.0/angular.js"></script>
    <script type="text/javascript" src="http://code.angularjs.org/1.1.0/angular-resource.js"></script>
    <script type="text/javascript" src="js/controllers.js"></script>

</head>
<body data-ng-app data-ng-controller="PollerController">

    <div id="push-the-button-real">
        <button ng-click="md5Real()">get md5 from live running ACA</button>
        <p>md5: {{md5RealValue}}</p>
    </div>

    <div id="push-the-button-stub">
        <button ng-click="md5Stub()">get md5 from stub</button>
        <p>md5: {{md5StubValue}}</p>
    </div>

</body>
</html>
